.topnav {
  display: flex;
  position: fixed;
  height: 30px;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding-top: 10px ;
  align-items: center;
   padding-bottom: 10px ;
 background-color:white;
}
.move{
  margin-left: 100px;  
}
.sub{
  margin-right: 50px;  
}  
.down{
padding-top: 150px;  
}
.item1{
   text-align: center; 
  }
  .imge{
      width: 45%;
    padding: 10px;
    margin-left : auto;
    margin-right : auto;
    margin-top: 0%;
    text-align: left;
  }
  .item2{
    width: 27%;
    padding: 5px;
    margin-left : auto;
    margin-right : auto;
    margin-top: 0%;
    text-align: left;
  }
  .sub{
      text-align: center;
  }
  .item3{
   text-align: center; 
    margin-left : auto;
    margin-right : auto;
    width: 65%;
    padding: 5px;
    text-align: left;
  }
   .container {
    display:flex;
    border: solid;
    flex-wrap:wrap;
    height:900px;
    width:1000px;
     margin-right:auto;
      margin-left: auto;
     
}
.box{
  width:25%;
}
.centerp{
 margin-top: 0px;
 margin-right: 50px;
 margin-left: 50px;
 
}
  

